<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security.xsd">

	<global-method-security secured-annotations="enabled" pre-post-annotations="enabled" authentication-manager-ref="authenticationManager"></global-method-security>
	
	<http auto-config="true">
	
		<intercept-url pattern="/**" access="permitAll" />
		
		<!-- access denied page -->
		<access-denied-handler error-page="/403" />
		
		<form-login 
			login-page="/login"
			default-target-url="/user/list"
			login-processing-url="/spring_security_check"
			authentication-failure-url="/login?error" 
			username-parameter="username"
			password-parameter="password" />
			
		<logout 
			logout-url="/spring_security_logout" 
			logout-success-url="/login?logout"
            invalidate-session="true" />
            
		<!-- enable csrf protection -->
		<csrf disabled="true"/>
	</http>

	<authentication-manager id="authenticationManager">
		<authentication-provider>
			<user-service>
				<user name="admin" password="123456" authorities="ROLE_ADMIN" />
			</user-service>
		</authentication-provider>
	</authentication-manager>
 
</beans:beans>